{{> header_alert }}
<main role="main"> 
<div class="container-fluid">
<div class="alert alert-warning" role="alert">
  <h1 class="alert-heading">Attention! - Attenzione!</h1>
  SMTP Error
  <hr />
  <a href="{{{ cr.links.home }}}">HOME</a>
</div>
</div><!-- /container -->
</main>
{{> footer_alert }}