{{> header }}

<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ cr.links.home }}">Home</a></li>
      <li class="breadcrumb-item">{{ cr.T.tit_Admin }}</li>
      <li class="breadcrumb-item">{{ cr.T.tit_Countries }}</li>
      <li class="breadcrumb-item"><a href="{{ cr.links.adm_country_list }}/1">{{ cr.T.tit_ListCountries }}</a></li>
      <li class="breadcrumb-item active">{{ cr.T.tit_Update }}</li>
    </ol>
  </nav>
</div><!-- /container -->

<main role="main">
<div class="container-fluid">
<h1>{{ cr.T.tit_UpdateCountry }}</h1>

{{# cr.method_GET }}
{{/ cr.method_GET }}

{{# cr.method_POST }}
<div class="alert alert-warning">
  <strong>{{{ cr.T.msg_Attention }}}</strong> {{{ lc.alert }}}
</div>
{{/ cr.method_POST }}

{{{ lc.adm_countryTab.renderedForm }}}

</div><!-- /container -->
</main>

{{> footer }}
{{> close_html }}