<footer>
  <div class="container-fluid mt-1">
    <hr />
    <div class="row">
      <div class="col">
        Ver. {{ env.version }} {{ env.version_date }}
      </div><!-- /col -->
    </div><!-- /row -->
  </div>
</footer>
<script src="{{ env.static_url }}/ext-libs/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>