{{> header }}

<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ cr.links.home }}">Home</a></li>
      <li class="breadcrumb-item">{{ cr.T.tit_Activities }}</li>
      <li class="breadcrumb-item">{{ cr.T.tit_Projects }}</li>
      <li class="breadcrumb-item active">{{ cr.T.tit_List }}</li>
    </ol>
  </nav>
</div><!-- /container -->

<main role="main">
<div class="container-fluid">
<h1>{{ cr.T.tit_ListProjects }}</h1>

{{^ lc.act_projectTab.hasData }}
<div class="alert alert-info" role="alert">
  <strong>{{{ cr.T.msg_Attention }}}</strong> {{ cr.T.msg_NoRecordsFound }} {{# lc.act_projectTab.filtered }}[ <a href="{{{ cr.links.act_project_list }}}/1">{{ cr.T.lab_withoutFilters }}</a> ]{{/ lc.act_projectTab.filtered }}
</div>
{{/ lc.act_projectTab.hasData }}

{{# lc.act_projectTab.hasData }}
<div class="alert alert-info" role="alert"><strong>{{ cr.T.lab_RecordsFound }}:</strong> {{ lc.act_projectTab.rowsNum }} {{# lc.act_projectTab.filtered }}{{ cr.T.lab_withFilters }} [ <a href="{{{ cr.links.act_project_list }}}/1">{{ cr.T.lab_withoutFilters }}</a> ]{{/ lc.act_projectTab.filtered }}</div>

<table class="table table-sm table-striped table-hover table-responsive w-auto text-nowrap">
  <thead>
    <tr>
      <th scope="col"><a href="{{ cr.links.act_project_list }}/1?order_by=rid&order_prog={{ lc.order_prog }}{{ lc.list_qs }}">{{ lc.act_projectTab.T.title.rid }}</a></th>
      <th scope="col"><a href="{{ cr.links.act_project_list }}/1?order_by=code&order_prog={{ lc.order_prog }}{{ lc.list_qs }}">{{ lc.act_projectTab.T.title.code }}</a></th>
      <th scope="col"><a href="{{ cr.links.act_project_list }}/1?order_by=title&order_prog={{ lc.order_prog }}{{ lc.list_qs }}">{{ lc.act_projectTab.T.title.title }}</a></th>
      <th scope="col"><a href="{{ cr.links.act_project_list }}/1?order_by=status&order_prog={{ lc.order_prog }}{{ lc.list_qs }}">{{ lc.act_projectTab.T.title.status }}</a></th>
      <th scope="col"><a href="{{ cr.links.act_project_list }}/1?order_by=start_date&order_prog={{ lc.order_prog }}{{ lc.list_qs }}">{{ lc.act_projectTab.T.title.start_date }}</a></th>
      <th scope="col"><a href="{{ cr.links.act_project_list }}/1?order_by=deadline&order_prog={{ lc.order_prog }}{{ lc.list_qs }}">{{ lc.act_projectTab.T.title.deadline }}</a></th>
      <th scope="col" colspan="4">&nbsp;</th>
    </tr>
    <tr>
{{{ lc.filterHTML }}}
    </tr>
  </thead>
  <tbody>
  {{# lc.act_projectTab._data }}
    <tr>
      <th scope="row"><a href="{{{ cr.links.act_project_read }}}/{{ rid }}">{{ rid }}</a></th>
      <td>{{ code }}</td>
      <td>{{ title }}</td>
      <td>{{ status }}</td>
      <td>{{ start_date }}</td>
      <td>{{ deadline }}</td>
      <td>&nbsp;<a href="{{{ cr.links.act_project_read }}}/{{ rid }}"><span class="oi oi-eye"></span></a>&nbsp;</td>
      <td>&nbsp;<a href="{{{ cr.links.act_project_update }}}/{{ rid }}"><span class="oi oi-pencil"></span></a>&nbsp;</td>
      <td>&nbsp;<a href="{{{ cr.links.act_project_delete }}}/{{ rid }}"><span class="oi oi-trash"></span></a>&nbsp;</td>
      <td>&nbsp;<a href="{{{ cr.links.act_project_create }}}?copy={{ rid }}"><span class="oi oi-copywriting"></span></a>&nbsp;</td>
    </tr>
  {{/ lc.act_projectTab._data }}
  </tbody>
</table>

{{{ lc.pagHTML }}}
{{/ lc.act_projectTab.hasData }}

<a class="btn btn-sm btn-secondary" href="{{{ cr.links.act_project_create }}}" role="button">{{{ cr.T.btn_New }}}</a>

</div><!-- /container -->
</main>

{{> footer }}
{{> close_html }}